<div class="row">
  <div class="video-container-home" data-controller="video">
    <%= video_tag @home_video.clip.url,
        controls: false,
        autoplay: true,
        muted: true,
        loop: true,
        class: "video"
     %>
    <div class="video-text-home">
      <%= "Welcome to FreshTake Films"%>
    </div>
  </div>
</div>
