h1, h2, h3, h4, h5, h6, p {
  font-family: Montserrat;
}

h6 {
  // color: #7B95A9;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
}

a {
  color:  #35374B;
  text-decoration: none;
}

a:hover {
  color: #50727B;
}

body {
  background-color: #50727b1d;
}
