.video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.video-portfolio-portrait {
  position: relative;
  width: 33.05%;
  height: 650px;
  display: inline-block;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0px;
}

.video-portfolio-landscape {
  position: relative;
  width: 49.7%;
  height: auto;
  display: inline-block;
  margin-top: 0px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  padding: 0px;
}

.video-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white; /* Choose text color that stands out */
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  pointer-events: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  // text-shadow: 2px 2px 2px #0a0a0a;
}

.video-text-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white; /* Choose text color that stands out */
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  pointer-events: none;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
  // text-shadow: 2px 2px 2px #0a0a0a;
}

.video-page-landscape {
  position: relative;
  width: 1000px;
  height: auto;
  display: inline-block;
  margin: 2px;
  padding: 0px;
}

.video-page-portrait {
  position: relative;
  width: 500px;
  height: auto;
  display: inline-block;
  margin: 2px;
  padding: 0px;
}
